@import '../../variables';

.endGame {
  z-index:10000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black;
  color:white;

  .menuButtons {
    width:150px;
  }

  .content {
    max-width:100vw;
    width: 500px;
    height: 180px;
    margin: auto;
    margin-top: 10%;
    border: 1px solid $borderColor;
    padding: 10px;
  }

  &.gameWon {
    .title {
      color:green;
      font-weight:bold;
    }
  }

  &.gameLost {
    .title {
      color:red;
      font-weight:bold;
    }

    .nextLevel {
      display:none;
    }
  }

  button {
    margin-right:15px;
  }
}