.app{
  text-align:center;
}

canvas {
  background-color : black;
}

#fps {
  position:absolute;
  top:0;
  left:0;
  color:lime;
  font-size:15px;
}

#minimap {
  position:absolute;
  bottom:0px;
  left:0px;
  height:100px;
}