#app{
  background-color:black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

ol {
  padding:5px;
}

.viewMap {
  width:100%;
  border-bottom:1px solid green;
}

.minimap {
  width:100%;
  border-bottom:1px solid lime;
}

.sidebar {
  height:100vh;
  border-right:1px solid lime;
}

.main {
  height:100vh;
}

#backToMainMenu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  z-index: 9999;
}

.menuButtons {
  .title {
    margin: 15px;
  }
  .btnItem {
    display: block;
    margin: 15px;
    border: 1px solid white;
    background-color: black;
    border-radius: 3px;
    padding: 5px;
    text-transform: capitalize;
    max-width: 100%;
    width: 200px;
    &.active {
      background-color:white;
      color:black;
    }
  }
}
