.mainMenuModal {
  overflow-y:auto!important;

  .startGame{
    text-align:right;
  }

  .btn {
    width:100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .difficultySelector, .mapSizeSelector {
    text-align:center;

    .btn {
      text-transform:capitalize;
      transition:all 0.3s linear;
      &.active{
        width:130px;
      }
      margin-bottom:3px;
    }
  }
}