@import './../../variables';
@import './../../mixins';

.menuHeader {
  font-size: 30px;
  height:35px;
  margin-bottom:15px;
}


.quickStartGame {
  @include centered();
  width:80%;
}

.mainMenu {
  &.btnList {
    width:200px;
  }
}

.gamePaused {
  .btnList {
    width: 224px;
    margin-left: auto;
    margin-right: auto;
  }
}

.campaignScreen {
  overflow: scroll;
  height: 90vh;
  padding:30px;
  .level {
    float:left;
    margin:30px;
    color:black;
    width:70px;
    height:70px;
    position:relative;
    opacity: 0.4;

    &.levelIsDone,
    &.nextLevel{
      opacity:1;
    }

    &-image{
      img {
        width:100%;
      }
    }
    &-title {
      color:white;
      text-align:center;
    }
  }
}