.mainMenu {
  overflow-y: auto !important;
  height: 100vh;
  color: white;
  background: url('~/src/assets/mainMenu.jpg');
  background-size: 100%;

  .menuHeader {
    height:35px;
  }

  .startGame {
    text-align: right;
  }

  .btnBack {
    border-radius: 0;
    background-color: #651616;
    border: 1px solid black;
    border-left: 1px solid #ffffff91;
    border-bottom: 1px solid #ffffff91;
  }

  .startGame {
    border:1px solid white;
    background-color:black;
    width:175px;
    max-width:100%;
    .title {
      text-align:center;
    }
    img {
      width:100%;
    }
  }
}