.createNewPlayer {
  .menuHeader {
    text-align:center;
  }
  .inputSection {
    min-height:52px;
  }

  .lenHelper {
    display:none;
    &.tooShort {
      font-size:1rem;
      color:gray;
      display:inline-block;
    }
  }
}
