.playerSelection {
  .isActive {
    display:none;
  }

  .selectedUser {
    .isActive {
      display:inline-block;
      color:lime;
    }
  }

  .btnList {
    width:100%;
    .btnItem {
      width:75%;

      &.delete {
        width:20%;
        margin-left:5%;
      }
    }
  }
}
